:root{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-size: 10px;
}
.color-green{
    color:var(--color-main-green)
}
 
 /* ====== styles for manger-tabs for App.js =======*/
.manger-tabs{
    width:1200px;
    height:90px;
}
.manger-tabs ul{
    list-style: none;
    
}
.manger-tabs ul li{
    
    color:var(--color-light);
    padding:10px;

}
.manger-tabs .tap .tap-title{
    font-size:15px;
}

.manger-tabs ul li a{
    color:var(--color-dark);
    text-decoration:none;
    position: relative;
    font-size:20px;
    /* padding:3px; */

}
.manger-tabs ul li a svg{
    font-size: 20px;
}
.manger-tabs ul li.active a::after,
.manger-tabs ul li:hover a::after{
    content:'';
    width: 20px;
    height:4px;
    background-color:var(--color-main-green);
    position:absolute;
    top:0px;
    right:40px;

}
.manger-tabs ul li.active a,
.manger-tabs ul li:hover a{
    color:var(--color-main-green);
}





