
:root{
  --color-main-green: #13A69A;
  --color-green-dark:#245550;
  --color-dark:#707070;
  --color-white:#fff;
  --color-black:#000;
  --color-light:#e9ebef;
  --color-yellow:#ffc85a;
  --color-blue:#53baff;
  --color-green-light:#E8F8F7;
  --color-red-light:#FF8D8D;
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  
}

